@media screen and (max-width: 767px) {

}
@media screen and (min-width: 768px) and (max-width: 991px) {

}
@media screen and (min-width: 992px) and (max-width: 1199px) {

}
@media screen and (min-width: 1200px){

}

html, body{
    margin: 0;
}

.header-layout{
    position: relative;
}

/*Header*/
header{
    height: 70px;
    background-color: aliceblue;
    padding: 15px 15px 15px 0;
}

header>.name{
    float: left;
    margin-left: 165px;
}

header>.name>.logo-name{
    font-weight: bold;
    font-size: 28px;
}

header>.name>.slogan{
    font-size: 16px;
}

header>.name>.phone{
    font-size: 16px;
    display: none;
}

@media screen and (max-width: 767px) {
    header>.name>.phone{
        font-weight: bold;
        display: block;
    }
}

header>.header-contacts{
    float: right;
    display: none;
}

@media screen and (min-width: 768px){
    header>.header-contacts{
        float: right;
        display: block;
    }
}
header>.header-contacts>.img-phone{
    float: left;
}
header>.header-contacts>.phone-and-phrase{
    margin-left: 15px;
    float: left;
}
header>.header-contacts>.phone-and-phrase>.phone{
    font-weight: bold;
    font-size: 28px;
    float: left;
}
header>.header-contacts>.phone-and-phrase>.phrase{
    font-weight: bold;
    font-size: 12px;
}



.menu{
    display: none;
    padding: 10px 150px;
    background-color: darkorange;
    cursor: pointer;
}
.menu>div{
    position: relative;
    float: left;
    padding: 3px 30px;
    font-size: 20px;
    color: #ffffff;
}
.menu>div:hover>.sub-menu{
    display: block;
}

.menu .sub-menu{
    position: absolute;
    top: 28px;
    background-color: cornflowerblue;
    z-index: 1;
    display: none;
}

.item-sub-menu{
    background-color: darkorange;
    padding: 5px 0 5px 0;
}
.item-sub-menu:hover{
    background-color: #0069b3;
}

.logo{
    position: absolute;
    left: 10px;
    top: 0;
    height: 100px;
    width: 140px;
    background-color: #0069b3;
}

.logo>.image{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: bisque;

    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
}
@media screen and (max-width: 400px) {
    .logo{
        height: 100px;
        width: 35%;
    }
    header>.name{
        float: left;
        margin-left: 50%;
        width: 50%;
    }
    header>.name>.logo-name{
        font-size: 20px;
    }
}
@media screen and (min-width: 768px){
    .menu{
        display: table;
    }
    .logo{
        height: 100%;
        width: 140px;
    }
}
/*END Header*/

/*Content*/
.content{
    padding: 0 0 20px 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.content>.title{
    padding-left: 310px;
}
.content>.price-block{
    background: silver;
    margin-left: 295px;
    padding: 15px 0 15px 15px;
}
.content>.price-block>.price{
    font-size: 25px;
}
.content>.price-block>.old-price{
    margin-left: 20px;
    font-size: 18px;
    color: red;
    text-decoration:line-through;
}
.content>.price-block>.btn-price{
    float: right;
    width: 150px;
    height: 57px;
    font-size: 30px;
    color: white;
    background: #016fba;
    margin-top: -15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*Gallery*/
.content>.gallery{
    border: 2px solid silver;
    width: 270px;
    height:360px;
    position: absolute;
    float: left;
    margin: -120px 0 0 5px ;
}

.content>.gallery>.img-gallery{
    width: 180px;
    height: 160px;
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -90px;
}

.content>.gallery>.img-gallery-list{
    width: 270px;
    max-height: 74px;
    position: absolute;
    bottom: 10px;
    overflow: auto;
}

.content>.gallery>.img-gallery-list>.img{
    float: left;
    border: 2px solid silver;
    margin: 0 5px 0 5px;
}
/*Media for TITLE, BLOCK-PRICE AND GALLERY*/
@media screen and (max-width: 519px){
    .content>.price-block>.price{
        font-size: 20px;
    }
    .content>.price-block>.old-price{
        margin-left: 15px;
        font-size: 15px;
    }
    .content>.price-block>.btn-price{
        width: 110px;
        height: 53px;
        font-size: 23px;
        margin-top: -15px;
    }
}
@media screen and (max-width: 767px) {
    .content>.title{
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .content>.price-block{
        background: silver;
        margin: 0;
        padding: 15px 0 15px 15px;
    }
    .content>.gallery{
        border: 2px solid silver;
        width: 90%;
        height:360px;
        float: left;
        margin: 20px 5% 0 5%;
    }
}
/*END Media for TITLE, BLOCK-PRICE AND GALLERY*/
/*END Gallery*/
/*Description*/
.content>.block-mini-description{
    margin-left: 295px;
    padding: 15px 0 0 0;
    width: 29%;
    float: left;
}
.content>.block-mini-description>.model-colors {
    border: 2px solid silver;
    padding: 5px 0 5px 0;
    overflow: auto;
}
.content>.block-mini-description>.model-colors>.model-colors-img {
    margin: 0 10px 0 10px;
    cursor: pointer;
}
.content>.block-mini-description>.model-specifications>.title{
    font-weight: bold;
    font-size: 16px;
}

.content>.model-description{
    float: left;
    width: 40%;
    margin-left: 15px;
    /*border: 2px solid silver;*/
}

.content>.model-description>.title{
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}
/*MEDIA for block-mini-description and model-description*/
@media screen and (max-width: 767px) {
    .content>.block-mini-description{
        margin: 385px 5% 0 5%;
        width: 90%;
    }
    .content>.model-description{
        width: 96%;
        margin: 0 2% 0 2%;
    }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
    .content>.block-mini-description{
        margin-left: 295px;
        width: 60%;
    }
    .content>.model-description{
        width: 96%;
        margin: 0 2% 0 2%;
    }
}
/*END MEDIA for block-mini-description and model-description*/
/*END Description*/
/*Full-specifications*/
.content>.full-specifications{
    margin: 10px 10% 0 10%;
    width: 80%;
    float: left;
    /*border: 2px solid silver;*/
}
.content>.full-specifications>.spec1{
    margin-right: 3%;
    width: 48%;
    float: left;
    /*border: 2px solid silver;*/
}
.content>.full-specifications>.spec2{
    width: 48%;
    float: left;
    margin-top: 35px;
    /*border: 2px solid silver;*/
}
.content>.full-specifications>.spec1>.title{
    font-weight: bold;
    font-size: 16px;
}
/*MEDIA Full-specifications*/
@media screen and (max-width: 719px) {
    .content>.full-specifications{
        width: 96%;
        margin: 10px 2% 0 2%;
    }
    .content>.full-specifications>.spec1, .content>.full-specifications>.spec2{
        width: 310px;
        margin: auto;
        float: none;
    }
}
@media screen and (min-width: 720px) and (max-width: 995px) {
    .content>.full-specifications{
        margin: 10px 5% 0 5%;
        width: 90%;
    }
}
/*END MEDIA Full-specifications*/
/*END Full-specifications*/

/*Advantages*/
.content>.advantages{
    margin: 10px 10% 0 10%;
    width: 80%;
    float: left;
}
.content>.advantages>.adv1{
    margin-right: 3%;
    width: 48%;
    float: left;
}
.content>.advantages>.adv2{
    width: 48%;
    float: left;
}
.all-title-advantages{
    font-weight: bold;
    font-size: 16px;
}
/*MEDIA Advantages*/
@media screen and (max-width: 719px) {
    .content>.advantages{
        width: 96%;
        margin: 10px 2% 0 2%;
    }
    .content>.advantages>.adv1, .content>.advantages>.adv2{
        width: 100%;
    }
}
@media screen and (min-width: 720px) and (max-width: 995px) {
    .content>.advantages{
        margin: 10px 5% 0 5%;
        width: 90%;
    }
}
/*END MEDIA Advantages*/
/*END Advantages*/

/*Reviews*/
.content>.reviews{
    float: left;
    margin-top: 10px;
    width: 96%;
    padding: 0 2% 10px 2%;
}
.content>.reviews>.review{
    margin-top: 20px;
}
/*END Reviews*/

/*Add review*/
.content>.add-review{
    float: left;
    width: 96%;
    padding: 0 2% 20px 2%;
}

.content>.add-review>div>.name{
    font-size: 18px;
}
.content>.add-review>.valuation{
    margin: 20px 0 20px 0;
}
.content>.add-review>.valuation>.stars{
    cursor: pointer;
}
.content>.add-review>.new-review{
    width: 100%;
    font-size: 18px;
}
.content>.add-review>.btn-add-review{
    font-size: 18px;
    color: white;
    background: #0071b8;
    margin-top: 10px;
    border-radius: 7px;
    width: 190px;
    height: 40px;
}
/*END Add review*/
/*END Content*/
